$height: 15px;
.xc_test {
    $no-value-class: #{&}--no-value;

    width: 100%;
    &__subclass {
        height: $height;
    }

    &--modifier {
        display: block;
    }

    :global(.rc-slider) {
        visibility: visible;
    }
}

:export {
    someProp: '14px';
}
