$height: 15px;
.xc_1n-iEUxUS_tPouy58c9mNY {
    $no-value-class: #{&}--no-value;

    width: 100%;
    &__subclass {
        height: $height;
    }

    &--modifier {
        display: block;
    }

    .rc-slider {
        visibility: visible;
    }
}

